@media only screen and (min-width: 90rem) {
    /* General */
    main {
        max-width: 85rem;
        margin: auto;
    }
    /* HOME PAGE */
    .weather-card,
    .forecast-cast {
        float: left;
        width: 50%;
    }
    .forecast-card {
        height: 265.43px;
    }
    .slideshow-container {
        max-width: 900px;
    }
    .slideshow-container {
        display: none;
    }
    .rental-info {
        display: block;
    }
    .rental-info img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .rental-info h4 {
        text-align: center;
    }
    .scooters {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
    .ATV {
        display: grid;
        justify-items: center;
    }
    .wranglers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .CTA {
        margin-top: 5rem;
    }
    /* RENTALS */
    /* RESERVATIONS */
    .reservations {
        max-width: 800px;
    }
    .requirements {
        background-color: #00ffaf;
        padding: 5px;
        border-radius: 5px;
    }
    /* TOURS */
    .activities {
        max-width: 900px;
        margin: auto;
        padding-bottom: 30px;
    }
    /* FOOTER */
}