@media only screen and (min-width: 55rem) {
    /* GENERAL */
    header {
        height: 10.5rem;
    }
    header img {
        padding: 2% 0 0 2%;
    }
    .contact-info {
        float: right;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .socials {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        width: 10rem;
    }
    nav button {
        display: none;
    }
    nav ul {
        font-size: 0;
    }
    nav ul.hide {
        display: flex;
        justify-content: center;
    }
    nav ul li {
        font-size: 18px;
        flex: 1 1 100%;
    }
    nav ul li a {
        border: none;
        padding: .6rem 1rem;
    }
    /* HOME PAGE */
    .slideshow-container {
        display: block;
    }
    .weather-card,
    .forecast-card {
        padding: 7% 0 2% 0;
    }
    /* 3-day Forecast */
    .forecast-card {
        max-width: 40rem;
        margin: auto;
        text-align: center;
    }
    .forecast-card section img {
        display: block;
    }
    /* RESERVATIONS */
    form {
        max-width: 40rem;
        margin: auto;
    }
    /* TOURS */
    .activities {
        max-width: 35rem;
        margin: auto;
    }
}