h1 {
    font-family: 'Markazi Text', serif;
}

li {
    font-family: 'Cormorant', serif;
}

body {
    max-width: 750px;
    margin: auto;
}

header {
    background-color: black;
    color: cadetblue;
    text-align: center;
    border-radius: 5px;
}

header h1 {
    margin-left: 175px;
}

header img {
    max-height: 150px;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
}

main {
    margin-left: 15px;
}

footer {
    background-color: black;
    color: cadetblue;
    text-align: center;
    border-radius: 5px;
}

footer div a {
    color: yellow;
}