h1 h2 h3 {
    font-family: 'Roboto Slab', serif;
}

header h1 {
    text-align: center;
}

header h2 {
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15px;
}


/*First Principle*/

.firstprinciple {
    background-color: olive;
    text-align: center;
    border-radius: 5px;
}

.imageone {
    max-width: 300px;
}


/*Second Principle*/

.secondprinciple {
    background-color: cornflowerblue;
    text-align: center;
    color: #300;
    border-radius: 5px;
}

.imagetwo {
    max-width: 300px;
}


/*Third Principle*/

.thirdprinciple {
    background-color: olive;
    text-align: center;
    border-radius: 5px;
}

.imagethree {
    max-width: 300px;
}


/*footer*/

footer {
    text-align: center;
    margin-top: 15px;
}