nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

nav {
    background-color: rgba(50, 34, 222, 0.9);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #000;
}

nav ul li.active a {
    background-color: rgba(255, 211, 13, 0.5);
    color: black;
}

nav ul li a:hover {
    background-color: #EB7070;
}

nav ul.hide {
    display: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header img {
    width: 75px;
}

footer {
    background-color: #eadada;
    text-align: center;
    padding: 0.5rem;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}