main {
    text-align: center;
    background-color: #e7d9d9;
    box-shadow: 0 0 30px;
    margin: 10px;
}

h1,
h2 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
}

div.cards section {
    background-color: rgba(29, 24, 92, 0.70);
    border: solid 1px black;
    color: white;
}

div.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
    padding: 20px;
}

.cards section img {
    max-width: 200px;
    box-shadow: 0px 0px 20px;
}

@media only screen and (min-width: 50rem) {
    div.cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 95rem) {
    div.cards {
        grid-template-columns: repeat(4, 1fr);
    }
}