@media only screen and (min-width: 35rem) {
    main,
    footer {
        max-width: 35rem;
        margin: auto;
    }
    header h1 {
        font-size: 40px;
    }
    .header-motto {
        font-size: 18px;
    }
    table {
        border: 1px solid black;
        margin: auto;
    }
    table tr img {
        max-width: 125px;
    }
}