@media (min-width: 60em) {
    main {
        max-width: 100%;
        border-radius: 0;
    }
    main p {
        max-width: 50rem;
        margin: auto;
    }
    #persona-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .personaone,
    .personatwo {
        max-width: 550px;
        margin: auto;
    }
}