@media (min-width: 35em) {
    header h1 {
        text-indent: -100px;
    }
    header img {
        float: left;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    header {
        max-width: 100%;
        padding: 1.5%;
    }
    main {
        max-width: 35em;
        margin: auto;
    }
}