body {
    background-color: #e7d9d9;
}

header h1 {
    color: #ffd30d;
    font-family: 'Roboto Slab', serif;
    font-size: 45px;
}

h2,
h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d185c;
    max-width: 22em;
    margin: auto;
    padding: 1rem;
}

header img {
    max-width: 75px;
    max-height: 75px;
}

nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    background-color: #1d185c;
    max-width: 22em;
    margin: auto;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0;
}

nav ul li {
    padding: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #ffd30d;
}

main {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #e7d9d9;
    border-radius: 0.5rem;
    max-width: 22em;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

main img {
    max-width: 100px;
}

table,
tr,
td {
    border: 1px solid black;
    margin: auto;
    border-collapse: collapse;
}

table tr,
td {
    padding: 5px;
}

table ul {
    list-style-type: none;
}

main h3 {
    background-color: #eb7070;
    text-align: center;
    margin: 0;
}

main ol {
    text-align: left;
}

footer {
    background-color: #1d185c;
    color: #e7d9d9;
    text-align: center;
    font-size: 18px;
    padding: 0.5rem;
}

footer div a {
    color: #e7d9d9;
}

.primary {
    background-color: #1d185c;
    color: white;
}

.secondary {
    background-color: #e7d9d9;
}

.accentone {
    background-color: #ffd30d;
}

.accenttwo {
    background-color: #eb7573;
}

.sampleone {
    font-family: 'Roboto Slab', serif;
    font-size: 45px;
}

.sampletwo {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.samplethree {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.samplefour {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.samplefive {
    font-size: 20px;
}

#persona-content {
    display: grid;
    row-gap: 10px;
}