body {
    background-color: #1d185c;
}

header h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 45px;
}

h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 650;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

main p {
    font-family: 'Roboto' sans-serif;
}

header {
    text-align: center;
    background-color: #eadada;
    max-width: 20em;
    margin: auto;
    padding: 1rem;
}

header img {
    max-width: 100px;
    float: top;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: 20px;
}

nav ul li {
    padding: 1.5%;
}

main {
    background-color: #eadada;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 0.5rem;
    max-width: 20em;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

main img {
    max-width: 100px;
}

table,
tr,
td {
    border: 1px solid black;
}

td {
    padding: 1%;
    margin: auto;
}

main h3 {
    background-color: #eb7070;
    text-align: center;
    margin: 0;
}

footer {
    background-color: #eadada;
    text-align: center;
    padding: 0.5rem;
}