body {
    background-color: #1d185c;
}

header h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 45px;
}

h2,
h3,
nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

main p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

header {
    text-align: center;
    background-color: #eadada;
    max-width: 22em;
    margin: auto;
    padding: 1rem;
}

header img {
    max-width: 100px;
    float: top;
}

nav ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

nav ul li {
    padding: 1rem;
}

main {
    background-color: #eadada;
    border-radius: 0.5rem;
    max-width: 22em;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

main img {
    max-width: 100px;
}

table,
tr,
td {
    border: 1px solid black;
    margin: auto;
    border-collapse: collapse;
}

table tr,
td {
    padding: 5px;
}

table ul {
    list-style-type: none;
}

main h3 {
    background-color: #eb7070;
    text-align: center;
    margin: 0;
}

main ol {
    text-align: left;
}

footer {
    background-color: #eadada;
    text-align: center;
    font-size: 18px;
    padding: 0.5rem;
}

.primary {
    background-color: #e7d9d9;
}

.secondary {
    background-color: #3222de;
    color: white;
}

.accentone {
    background-color: #ffd30d;
}

.accenttwo {
    background-color: #eb7070;
}

.sampleone {
    font-family: 'Roboto Slab', serif;
    font-size: 45px;
}

.sampletwo {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.samplethree {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.samplefour {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.samplefive {
    font-size: 20px;
}

#persona-content {
    display: grid;
    row-gap: 10px;
}